////////////////////////////////////////////
///// APP
.app {
    background-color: orange;
    // height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  ////////////////////////////////////////////
  ///// SIDE NAVIGATION
  .side-nav {
    font-size: 1.4rem;
    background-color: aqua;
  }