.flex {
    
    &__container {
        width: 80%;
        height: 80%;
        border: 5px #000 solid;

        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    &__box {
        width: 10rem;
        height: 10rem;
        &--1 {
            background-color: rgb(106, 0, 206);
        }

        &--2 {
            background-color: rgb(1, 146, 243);
        }

        &--3 {
            background-color: rgb(161, 0, 40);
        }

        &--4 {
            background-color: rgb(219, 186, 93);
        }
    }
}