.flex {
    
    &__container {
        width: 80%;
        height: 80%;
        border: 5px #000 solid;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        &--row {
            flex-direction: row;
        }

        &--column {
            flex-direction: column;
        }
        
        &--row-reverse {
            flex-direction: row-reverse;
        }

        &--column-reverse {
            flex-direction: column-reverse;
        }
        
    }

    &__box {
        width: 10rem;
        height: 10rem;
        &--1 {
            background-color: rgb(106, 0, 206);
        }

        &--2 {
            background-color: rgb(1, 146, 243);
        }

        &--3 {
            background-color: rgb(161, 0, 40);
        }

        &--4 {
            background-color: rgb(219, 186, 93);
        }
    }

    &__btn {
        &-container {
            margin-bottom: 3rem;
        }

        &-list {
            width: 50rem;
            list-style: none;

            display: flex;
            justify-content: space-around;
        }

        height: 5rem;
        width: 10rem;
        border-radius: 1rem;
        border-style: none;
        padding: 3rem;
        margin: 3rem;
        font-weight: 800;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}