.hover {
    &__container {
        width: 80%;
        height: 80%;
        border: solid 3px #000;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__row {
        width: 100%;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__box {
        background-color: rgb(20, 0, 204);
        height: 10rem;
        width: 10rem;
    }
}