.hover {
    &__container {
        width: 80%;
        height: 80%;
        border: solid 3px #000;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__row {
        width: 100%;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__box {
        background-color: rgb(20, 0, 204);
        height: 10rem;
        width: 10rem;
        cursor: pointer;

        &--1 {
            transition: all .1s;
            position: relative;

            animation: moveInBottom .2s ease-out .75s; 
            animation-fill-mode: backwards; 
            
            &:hover { 
                background-color: #61a6ff;
                transform: translateY(-5px); // moves box up
                box-shadow: 0 1rem 2rem rgba(#000, .3);

                &::after {
                    background-color: #97c4ff;
                    transform: scaleX(1.4) scaleY(1.6);
                    opacity: 0;
                }
            }

            &::after {
                content: ""; 
                display: inline-block;
                height: 100%;
                width: 100%;
                position: absolute; 
                top: 0;
                left: 0;
                z-index: -1; 
                transition: all .4s;
            }
        }

        &--2 {
            transition: all .4s;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
            background-size: 300%;

            animation: moveInBottom .4s ease-out .75s; 
            animation-fill-mode: backwards; 

            &:hover {
                background-position: 100%;
                transform: translateX(.5rem);
            }
        }

        &--3 {
            transition: all .4s;

            animation: moveInBottom .8s ease-out .75s; 
            animation-fill-mode: backwards; 

            &:hover {
                box-shadow: 0 1rem 2rem rgba(#000, .4);
                transform: rotate(5deg) scale(1.3);
            }
        }

        &--4 {
            display: flex;
            align-items: center;
            justify-content: center;

            &-icon {
                position: relative;

                &,
                &::before,
                &::after {
                    width: 5rem;
                    height: 2px;
                    background-color: #fff;
                    display: inline-block;
                }

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    transition: all .2s;
                }

                &::before {
                    top: -.8rem;
                }
        
                &::after {
                    top: .8rem;
                }
            }

            &:hover &-icon {
                background-color: transparent;
            }

            &:hover &-icon::before {
                top: 0;
                transform: rotate(135deg);
            }

            &:hover &-icon::after {
                top: 0;
                transform: rotate(-135deg);
            }
        }

        &--5 {
            
        }

    }
}



@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}