.app-container {
    max-width: 120rem;
    margin: 8rem auto;
    font-size: 1.4rem;
    background-color: rgb(2, 119, 47);
    
    min-height: 50rem;
}

.content {
    display: flex;
    min-height: 80vh;
}
  
.side-nav {
    font-size: inherit;
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    font-size: inherit;
    border: 2px solid red;

    display: flex;
    // justify-content: center;
    flex: 1;

    &__content {
        border: 1px solid peru; 

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    &__content--home {
        color: #fff;
    }

    &__title {
        background-color: purple;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 3rem;
    }

    &__description {
        background-color: palevioletred;
        font-size: 2rem;
        font-weight: 400;
    }

    
}

