.modern {
    
    &__container {
        width: 80%;
        height: 80%;
        border: 5px #000 solid;
    }

    &__heading {
        border: solid 3px aqua;
        width: 80%;

        display: flex;
    }
}