:root {
  --color-primary: rgb(42, 114, 45);
  --color-primary-light: rgb(119, 218, 122);
  --color-primary-dark: rgb(2, 71, 6);
  --color-secondary: rgb(23, 105, 138);
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  font-weight: 400;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  min-height: 100vh; }

.flex__container {
  width: 80%;
  height: 80%;
  border: 5px #000 solid;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .flex__container--row {
    flex-direction: row; }
  .flex__container--column {
    flex-direction: column; }
  .flex__container--row-reverse {
    flex-direction: row-reverse; }
  .flex__container--column-reverse {
    flex-direction: column-reverse; }

.flex__box {
  width: 10rem;
  height: 10rem; }
  .flex__box--1 {
    background-color: #6a00ce; }
  .flex__box--2 {
    background-color: #0192f3; }
  .flex__box--3 {
    background-color: #a10028; }
  .flex__box--4 {
    background-color: #dbba5d; }

.flex__btn {
  height: 5rem;
  width: 10rem;
  border-radius: 1rem;
  border-style: none;
  padding: 3rem;
  margin: 3rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center; }
  .flex__btn-container {
    margin-bottom: 3rem; }
  .flex__btn-list {
    width: 50rem;
    list-style: none;
    display: flex;
    justify-content: space-around; }
  .flex__btn:hover {
    cursor: pointer; }
  .flex__btn:focus {
    outline: none; }

.app-container {
  max-width: 120rem;
  margin: 8rem auto;
  font-size: 1.4rem;
  background-color: #02772f;
  min-height: 50rem; }

.content {
  display: flex;
  min-height: 80vh; }

.side-nav {
  font-size: inherit;
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.container {
  font-size: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; }
  .container__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; }
  .container__content--home {
    color: #fff;
    display: flex;
    flex-direction: column; }
  .container__description {
    font-size: 2rem;
    font-weight: 400;
    flex: 0 0 30%; }
  .container__heading {
    margin-top: 5rem; }
  .container__title {
    font-size: 2rem;
    font-weight: 600;
    flex: 0 0 20%; }

.modern__container {
  width: 80%;
  height: 80%;
  border: 5px #000 solid;
  color: #fff; }

.modern__header {
  border: solid 3px #003cff;
  background-color: #003cff;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.modern__content {
  display: flex; }

.modern__sidebar-container {
  border: solid 3px #ffc400;
  background-color: #ffc400;
  width: 10rem;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.modern__main-container {
  border: solid 3px red;
  background-color: red;
  display: flex;
  flex-direction: column;
  flex: 1; }

.modern__paragraphs {
  display: flex;
  justify-content: space-around; }
  .modern__paragraphs--1, .modern__paragraphs--2 {
    border: solid 3px #6e008a;
    background-color: #6e008a;
    width: 20rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center; }

.modern__main-content {
  border: solid 3px #ff631b;
  background-color: #ff631b;
  margin: 3rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modern__main-content-container {
    border: solid 3px #05b5c5;
    background-color: #05b5c5;
    height: 100%; }

.modern__footer {
  border: 3px solid #ff199f;
  background-color: #ff199f;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.navigation {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3rem; }
  .navigation__item {
    position: relative; }
    .navigation__item:not(:last-child) {
      margin-bottom: 1rem; }
  .navigation__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-secondary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0.02, 0.02, 1) 0.2s; }
  .navigation__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .navigation__link:link, .navigation__link:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.3rem 4.3rem;
    position: relative;
    z-index: 10; }
  .navigation__link:hover {
    color: var(--color-primary-light); }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-dark-2);
  text-align: 2.5rem;
  padding: 2.5rem; }
