:root {
  --color-primary: rgb(42, 114, 45);
  --color-primary-light: rgb(119, 218, 122);
  --color-primary-dark: rgb(2, 71, 6);
  --color-secondary: rgb(23, 105, 138);
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  font-weight: 400;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  min-height: 100vh; }

.flex__container {
  width: 80%;
  height: 80%;
  border: 5px #000 solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.flex__box {
  width: 10rem;
  height: 10rem; }
  .flex__box--1 {
    background-color: #6a00ce; }
  .flex__box--2 {
    background-color: #0192f3; }
  .flex__box--3 {
    background-color: #a10028; }
  .flex__box--4 {
    background-color: #dbba5d; }

.app-container {
  max-width: 120rem;
  margin: 8rem auto;
  font-size: 1.4rem;
  background-color: #02772f;
  min-height: 50rem; }

.content {
  display: flex;
  min-height: 80vh; }

.side-nav {
  font-size: inherit;
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.container {
  font-size: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; }
  .container__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; }
  .container__content--home {
    color: #fff;
    display: flex;
    flex-direction: column; }
  .container__title {
    font-size: 2rem;
    font-weight: 600;
    flex: 0 0 20%; }
  .container__description {
    font-size: 2rem;
    font-weight: 400;
    flex: 0 0 30%; }

.modern__container {
  width: 80%;
  height: 80%;
  border: 5px #000 solid; }

.modern__heading {
  border: solid 3px aqua;
  width: 80%;
  display: flex; }

.navigation {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3rem; }
  .navigation__item {
    position: relative; }
    .navigation__item:not(:last-child) {
      margin-bottom: 1rem; }
  .navigation__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-secondary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0.02, 0.02, 1) 0.2s; }
  .navigation__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .navigation__link:link, .navigation__link:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.3rem 4.3rem;
    position: relative;
    z-index: 10; }
  .navigation__link:hover {
    color: var(--color-primary-light); }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-dark-2);
  text-align: 2.5rem;
  padding: 2.5rem; }
